@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);
h2 {
    font-family: 'Open Sans', Sans-serif;
    color: rgb(50, 150, 250);
    font-size: 30px;
}

.daftar-container {
    width: 500px;
    margin: 100px auto;
    padding: 20px 40px;
    border: 1px solid rgb(50, 150, 250);
    border-radius: 8px;
}

input {
    border: none;
    border-bottom: 1px solid rgb(50, 150, 250);
}

input[type="text"] {
    width: 46%;
    padding: 7px;
    margin: 5px 0;
    margin-bottom: 10px;
}

input[type="email"], [type="password"] {
    display: block;
    width: 96%;
    padding: 7PX;
    margin-bottom: 10px;
}

button{
    width: 50%;
    margin-left: 123px;
    margin-top: 10px;
    padding: 10px;
    border: none;
    border-radius: 10px;
    background-color: rgb(50, 150, 250);
    color: white;
    margin-bottom: 30px;
}

button:hover {
    background-color: rgb(235, 235, 235);
    color: white;
}

@media (max-width: 600px) {
    .daftar-container {
      width: 90%;
      margin: 50px auto;
    }

    input[type="text"], input[type="password"], button[type="submit"] {
        font-size: 16px;
      }
}