/* * {
    margin: 0;
    padding: 0;
    font-family: 'arial', sans-serif;
} */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);
h2 {
    font-family: 'Open Sans', Sans-serif;
    color: white;
    font-size: 35px;
}
.login-container {
    width: 300px;
    margin: 100px auto;
    padding: 20px 40px;
    background-color: rgb(50, 150, 250);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
    color: white;
    font-family: 'Open Sans', Sans-serif;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    margin-bottom: 20px;
    border: 1px solid white;
    border-radius: 5px;
    box-sizing: border-box;
}

input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid white;
    border-radius: 5px;
    box-sizing: border-box;
}

input[type="checkbox"] {
    margin-right: 5px;
    margin-bottom: 15px;
}

button[type="submit"] {
    display: block;
    margin: auto;
    margin-top: 8px;
    width: 50%;
    padding: 10px;
    background-color: white;
    color: rgb(50, 150, 250);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: rgb(235, 235, 235);
    color: white;
}

p, a {
    text-align: center;
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
  }

@media (max-width: 600px) {
    .login-container {
      width: 90%;
      margin: 50px auto;
    }

    input[type="text"], input[type="password"], button[type="submit"] {
        font-size: 16px;
      }
}

